this page will list all of the current rental property

<% @accommodations.each do |accommodation| %>

	<ul>
		<li><%= link_to(accommodation.address,accommodation_path(accommodation))-%></li>
	</ul>

<% end %>