<div class="form"><h3>Current listing</h3> 


<% @accommodations.each do |accommodation| %>

	<ul>
		<li><%= link_to(accommodation.address,accommodation_path(accommodation)) %></li>
		
	</ul>

<% end %>

</div>