<div>
	<h4 class="title">Current listing</h4> 

<div class="list"> 
	<% @accommodations.each do |accommodation| %>

		<ul >
			<li><%= link_to(accommodation.address,accommodation_path(accommodation)) %></li>
			<li><%=  accommodation.suburb %></li>
		</ul>

	<% end %>
</div>


</div>