<div>
	<form>
		<input type="text" id="search" placeholder="enter the location">
		<button> Search </button>
	</form>

	<form ><%= @search %></form>

</div>

<div >
	<h4 class='listing'>Current listing</h4>



	<% @accommodations.each do |accommodation| %>
		<ul>
			<li><%=  image_tag accommodation.image, :class =>'avatar' %></li>
			<li><%= link_to(accommodation.address,accommodation_path(accommodation)) %></li>
			<li><%=  accommodation.suburb %></li>	
		</ul>
	<% end %>

</div>